body{
	
	overflow-y:auto;
}
.anli-de{
	overflow: hidden;
}
.anli-de .banner{
	overflow: hidden;
	font-size: 32px;
	color: #fff;
	margin-top: 90px;

	
	text-align: center;
}
.anli-de .banner h2{
	font-size:30px;
	margin-bottom: 30px;
	font-weight:400;
	color:black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.anli-de .banner h1{
	margin:60px 0 70px 0;
}
.anli-de .banner h1 img{
	width: auto;
}
.anli-de .banner h2 img{
	width:auto;
}
.anli-de .banner >img{
	width:100vw;
	margin-top:60px;
	display: block;
}
.anli-de .banner p>a{
	color:#366695;
	font-size: 24px;
	font-weight:400;
}
.anli-de .banner h2 + p{
		color:#484848;
	font-size:24px;
	line-height: 35px;
	width: 70%;
	margin: 0 auto;
}
.anli-de .banner .banner-footer{
	width:100%;

	background-color: #f2f2f2;

}
.anli-de .banner h2 + p em{
	color: #95f4e9;
}
.anli-de .banner ul{
	width: 1025px;
	margin: 0 auto;
	margin-top: 107px;
	font-size: 0;
}
.anli-de .banner ul li{
	width: 220px;
	display: inline-block;
	vertical-align: middle;
	min-height: 265px;
	margin-right: 180px;
	border:1px solid #5b86a0;
	border-top-width: 0;
	padding-top: 70px;
	position: relative;
}
@media screen and (max-width: 1200px){
	.anli-de .banner ul li{
		margin-right: 90px;
	}
	.anli-de .banner ul{
		width: 845px;
	}
}
@media screen and (max-width: 845px){
	.anli-de .banner ul li{
		margin-right: 40px;
		width: 180px;
	}
	.anli-de .banner ul{
		width: 765px;
	}
}
.anli-de .banner ul li:last-child{
	margin-right: 0;
}
.anli-de .banner ul li:nth-of-type(1) figcaption{
	background: url('../images/anli_de_icon_1_03.png') no-repeat center center/contain;
}
.anli-de .banner ul li:nth-of-type(2) figcaption{
	background: url('../images/anli_de_icon_2_05.png') no-repeat center center/contain;
}
.anli-de .banner ul li:nth-of-type(3) figcaption{
	background: url('../images/anli_de_icon_3_07.png') no-repeat center center/contain;
}
.anli-de .banner ul li figure figcaption{
	width: 108px;
	height: 56px;
	transform: translate(-50%,calc(-70px - 50%));
	position: absolute;
	left: 50%;
}
.anli-de .banner ul li figure figcaption::before{
	content: ' ';
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: #5b86a0;
	left: -51%;
	top: 50%;
}
.anli-de .banner ul li figure figcaption::after{
	content: ' ';
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: #5b86a0;
	right: -51%;
	top: 50%;
}
@media screen and (max-width: 845px){
	.anli-de .banner ul li figure figcaption::after{
		width: 40px;
		right: -32%;
	}
	.anli-de .banner ul li figure figcaption::before{
		width: 40px;
		left: -32%;
	}
}
.anli-de .banner ul li h3{
	margin-bottom: 42px;
	font-size: 30px;
}
.anli-de .banner ul li p{
	line-height: 30px;
	padding:10px;
	font-size: 14px;
	margin-bottom: 15px;
}
.anli-de .anli-pic{
	padding:130px 15%;
	background: white;
	min-height:500px;
}
.anli-de .anli-pic h1{
	font-weight: 400;
	margin-bottom:25px;
	line-height: 40px;
}
.anli-de .anli-pic img{
	width: auto;

}
.content-col-main {
   display: inline-block;
   width:66%;
   padding:1%;
   background: #fff;
}

.content-col-3{
	margin-top:120px;
	vertical-align: middle;
	display: inline-block;
	width: 33%;
	   padding:1%;   
}
.anli-de .anli-pic .content-col-3 img{
	width: 100%;
}
.banner-footer {
	padding:60px 15%;
}
.banner-footer >div{
	vertical-align: top;
	text-align: center;
	color:#484848;
	width:32%;
	font-size:24px;
	display: inline-block;
}
.banner-footer>div>ol>li,.banner-footer>div>p{
	font-weight:400;
	font-size:16px;
	color:#6d6d6d;
	margin-top:20px;

}
.anli-de .anli-pic .content-col-side img{
	width: 100%;
}
.content-col-side {
	vertical-align: top;
   display: inline-block;
   width:33%;
   padding:1%;

   background: #fff;
}

img { /* Makes sure your images stay within their columns */
   max-width: 100%;
   width: auto;
   height: auto;
}
.anli-de .anli-pic p{
	line-height: 36px;
}

.anli-de .more-anli{
	border-top:1px solid #c0d0dd;
	background-color: #fff;
	text-align: center;
	color: #366695;
	overflow: hidden;
}
.anli-de .more-anli h2{
	line-height: 144px;
	font-size: 30px;
	font-weight:400;
	color: #366695;
}
.anli-de .more-anli ul{
	transition: height 0.5s;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	border-bottom:1px solid #c0d0dd;
	font-size: 0;
	text-align: left;
}
.anli-de .more-anli ul.click{
	height: auto !important;
}
.anli-de .more-anli ul.click + .down{
	transform: rotate(180deg);
}
.anli-de .more-anli ul li{
	width: 15%;
	margin:1% 0.8% 0 0.8%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
@media screen and (max-width: 1200px){
	.anli-de .more-anli ul{
		width: 100%;
	}
}

.anli-de .more-anli ul li img{
	width: 100%;
}
.anli-de .more-anli ul li:hover img{
	transform:scale(1.1,1.1);
	transition:all 1s;
}
.anli-de .more-anli ul li h3{
	text-align: center;
	margin: 25px 0 8px 0;
	font-size: 16px;
}
.anli-de .more-anli ul li p{
	margin-bottom: 35px;
	font-size: 14px;
}
.anli-de .more-anli .down{
	transition: all 0.5s;
	display: block;
	width: 51px;
	height: 51px;
	margin: 28px auto 46px auto;
	background: url('../images/anli_de_down_19.png');
	background-size: cover;
}
@media screen and (max-width: 1380px){
.anli-de .banner h2{
	font-size:24px;
}
.anli-de .banner h2 + p,.anli-de .banner p>a,.banner-footer >div{
	font-size:18px;
}
.banner-footer>div>ol>li, .banner-footer>div>p{
	font-size:12px;
}
.anli-de .banner h1{
	margin:70px 0 40px 0;
}

.banner-footer{
	padding:40px 15%;
}
.banner-footer>div>ol>li, .banner-footer>div>p{
	margin-top:15px;
}
.anli-de .anli-pic{
	padding:96px 15%;
}
.anli-de .anli-pic h1{
	font-size:24px;
}
.anli-de .anli-pic p{
	font-size:14px;
}
.content-col-3{
	margin-top:90px;
}
.anli-de .more-anli h2{
	font-size:24px;
	font-weight:400;
}
}